In [81]:
import pandas as pd

# 1 read .CSV from a URl with pandas
target website: https://www.football-data.co.uk/data.php

In [83]:
# reading 1 csv file from the website
df_premier25=pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [84]:
# showing dataframe
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [85]:
# rename coloumn
df_premier25.rename(columns={
    'FTHG': 'home_goals',
    'FTAG': 'away_goals'
},inplace=True)

In [86]:
# show dataframe
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

# 2 read .csv from multiple URLs with pandas
https://www.football-data.co.uk/mmz4281/2425/E0.csv
# Link:root+season+leauge

In [88]:
# link structure
"https://www.football-data.co.uk/mmz4281/"+"2425"+"/"+"E0"+".csv"

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

In [89]:
# create a root variable
root="https://www.football-data.co.uk/mmz4281/"

In [90]:
# creating list of leauges
leauges=['E0','E1','E2','E3','EC']
frames=[]
#  looping through leauges, read multiple csv and append it into a list
for leauge in leauges:
    df=pd.read_csv(root+'2425'+'/'+leauge+'.csv')
    frames.append(df)

In [91]:
# length of frames
len(frames)

5

In [92]:
# show 1st 2nd 3rd element
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,10/08/2024,15:00,Aldershot,Forest Green,3,3,D,2,1,...,1.83,1.98,1.87,1.99,1.87,2.00,1.83,1.99,1.88,2.02
1,EC,10/08/2024,15:00,Altrincham,Woking,1,0,H,1,0,...,1.83,1.98,1.83,2.04,1.85,2.04,1.82,1.95,1.86,2.14
2,EC,10/08/2024,15:00,Boston Utd,Rochdale,0,3,A,0,2,...,1.85,1.95,1.88,1.98,1.88,1.98,1.84,1.93,1.92,2.00
3,EC,10/08/2024,15:00,Dag and Red,Wealdstone,2,1,H,0,0,...,1.90,1.90,1.89,1.95,1.91,1.95,1.87,1.88,1.91,2.06
4,EC,10/08/2024,15:00,Fylde,Solihull,3,2,H,1,2,...,1.78,2.03,1.76,2.10,1.80,2.10,1.76,2.01,1.80,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,EC,05/05/2025,15:00,Maidenhead,Boston Utd,3,0,H,1,0,...,1.80,2.00,1.80,2.07,1.81,2.07,1.77,2.02,1.83,2.13
548,EC,05/05/2025,15:00,Oldham,Ebbsfleet,2,0,H,1,0,...,1.85,1.95,1.88,1.98,1.90,1.98,1.87,1.91,1.94,1.90
549,EC,05/05/2025,15:00,Solihull,Dag and Red,1,1,D,0,1,...,1.98,1.83,1.96,1.89,1.98,1.89,1.95,1.84,2.02,1.91
550,EC,05/05/2025,15:00,Sutton,Woking,1,1,D,0,1,...,1.95,1.85,1.93,1.93,1.95,1.93,1.93,1.84,2.01,1.96
551,EC,05/05/2025,15:00,Wealdstone,Halifax,3,1,H,3,0,...,2.03,1.78,2.07,1.80,2.07,1.81,2.01,1.78,2.12,1.72

# 2.2 multiple seasons

In [94]:
for season in range(15,25):
    print(str(season)+str(season+1))

1516
1617
1718
1819
1920
2021
2122
2223
2324
2425

In [95]:
# loop through range of seasons and insert new coloumn
leauges=['E0','E2','E3']
frames=[]
#  looping through leauges, read multiple csv and append it into a list
for leauge in leauges:
    for season in range(15,25):
        df=pd.read_csv(root+str(season)+str(season+1)+'/'+leauge+'.csv')
        df.insert(1,'season',season)
        frames.append(df)

In [96]:
# total frames(10 seasons x 3 leagues)
len(frames)

30

In [97]:
# show 1st and last element (new season coloumn was created)
frames[29]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,24,09/08/2024,20:00,Chesterfield,Swindon,1,1,D,1,...,1.83,2.03,1.86,2.03,1.89,2.05,1.83,1.97,1.91,2.06
1,E3,24,10/08/2024,15:00,AFC Wimbledon,Colchester,4,2,H,3,...,1.75,2.05,1.83,2.07,1.83,2.17,1.76,2.05,1.86,2.12
2,E3,24,10/08/2024,15:00,Barrow,Crewe,1,0,H,1,...,1.88,1.98,1.87,2.02,1.90,2.04,1.84,1.95,1.88,2.09
3,E3,24,10/08/2024,15:00,Cheltenham,Newport County,3,2,H,2,...,1.93,1.93,1.96,1.93,1.98,1.96,1.91,1.88,2.05,1.92
4,E3,24,10/08/2024,15:00,Doncaster,Accrington,4,1,H,1,...,1.93,1.93,1.95,1.93,1.95,1.98,1.89,1.89,1.98,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,24,03/05/2025,15:00,Morecambe,Harrogate,1,2,A,1,...,1.78,2.10,1.74,2.12,1.78,2.18,1.73,2.09,1.81,2.22
548,E3,24,03/05/2025,15:00,Newport County,Tranmere,1,4,A,1,...,1.78,2.03,1.84,2.00,1.84,2.03,1.81,1.98,1.84,2.13
549,E3,24,03/05/2025,15:00,Notts County,Doncaster,1,2,A,0,...,1.80,2.05,1.79,2.06,1.81,2.12,1.76,2.05,1.85,2.15
550,E3,24,03/05/2025,15:00,Port Vale,Gillingham,0,1,A,0,...,2.03,1.83,2.04,1.81,2.05,1.83,2.00,1.80,2.09,1.86
551,E3,24,03/05/2025,15:00,Swindon,Milton Keynes Dons,0,0,D,0,...,2.03,1.83,1.99,1.85,2.04,1.86,1.98,1.83,2.11,1.86

# organize all the data in a dictonary

In [99]:
# create a dictonary with origional name of leauges as key
dict_countries={
               'Spainish La Liga':'SP1','Spainish Segunda Division':'SP2',
               'German Bundesliga':'D1',
               'English Premier Leauge':'E0','English Leauge 1':'E2',
               'English Leauge 2':'E3'
}

In [100]:
# get a dictionary element
dict_countries['Spainish La Liga']

'SP1'

In [101]:
for leauge in dict_countries:
    print(dict_countries[leauge])

SP1
SP2
D1
E0
E2
E3

In [102]:
dict_historical_data={}
#leauges=['E0','E2','E3']

#  looping through key elements
for leauge in dict_countries:
    frames=[]
    for season in range(15,25):
        df=pd.read_csv(root+str(season)+str(season+1)+'/'+dict_countries[leauge]+'.csv')
        df.insert(1,'season',season)
        frames.append(df)
    df_concat=pd.concat(frames)
    dict_historical_data[leauge]=df_concat

In [127]:
dict_historical_data['English Premier Leauge']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,24,25/05/2025,Newcastle,Everton,0,1,A,0,0,...,1.30,6.11,10.20,1.27,7.0,13.00,1.50,2.94,1.93,2.05
376,E0,24,25/05/2025,Nott'm Forest,Chelsea,0,1,A,0,0,...,3.50,3.86,2.06,3.55,3.9,2.14,1.76,2.28,1.86,2.14
377,E0,24,25/05/2025,Southampton,Arsenal,1,2,A,0,1,...,12.20,6.11,1.28,13.00,6.8,1.28,1.45,3.15,2.06,1.89
378,E0,24,25/05/2025,Tottenham,Brighton,1,4,A,1,0,...,3.63,4.12,1.95,3.95,4.2,1.93,1.51,2.92,2.06,1.93
379,E0,24,25/05/2025,Wolves,Brentford,1,1,D,0,1,...,2.98,3.80,2.31,3.05,3.8,2.42,1.54,2.78,1.89,2.10